$main-color: #fff;
body {
    background-color: $main-color;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'SpoqaHanSans', 'Spoqa Han Sans JP', 'Sans-serif';
    text-align: center;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.login__submit-btn {
    margin: 0 auto;
}

.login-btn {
    text-align: center;
}

#indexItem {
    display: flex;
    justify-content: flex-start;
}

h1 {
    text-align: center;
}

.login__submit-btn {
    text-align: center;
    width: 100%;
}

.login {
    width: 400px;
    margin: 200px auto;
    padding: 20px;
    border-radius: 15px;
}

.horizen {
    display: flex;
    justify-content: flex-start;
}

.indexItem+.indexItem {
    float: right;
}

.indexItem {
    width: 300px;
    float: left;
    border: 1px solid #000;
    border-radius: 3px;
}

.comments__body-input {
    width: 400px;
    // margin: 200px auto;
    padding: 20px;
    border-radius: 15px;
}

.comment-item__remove-btn {
    margin: 5px;
}

.register__submit-btn {
    text-align: center;
    width: 100%;
}

.register {
    margin: 100px auto;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    // margin
}